.communicate-container{
    width: 100%;
    background-color: rgb(10, 61, 77);
}

.communicate-content{
    margin: 260px auto;
    width: 1200px;
    margin-bottom: 0;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.communicate-content .communicate-left{
    width: 420px;
    margin: 30px 16%;
    color: white;
}

.button-set .comm-btnL{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px; 
    cursor: default;
    border: 1px solid black;

}

.button-set .comm-btnR{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px; 
    cursor: default;
    background-color: rgb(10, 61, 77);
    border: 1px solid white;
    color: white;
}

.communicate-content .communicate-right{
    margin: -70px 70px;
}

.communicate-content .communicate-right img{
    width: 260px;
}

.communicate-container .communicate-subtitle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 60px auto;
    width: 85%;
}

.communicate-subtitle .subtitle-col{
    margin: 20px 20px;
    width: 220px;
    color: white;
}

.communicate-subtitle .subtitle-col img{
    width: 50px;
}

.communicate-subtitle .subtitle-col p{
    width: 200px;
    cursor: default;
}

#check{
    width: 40px;
    margin-bottom: 6px;
    
}