.portal-slogan{
    width: 50%;
    min-width: 700px;
    height: 10%;
    margin: 10% auto;
}

.portal-slogan h1{
    padding-left: 60px;
    width: 700px;
    margin: 0 auto;
}

.portal-slogan p{
    text-align: center;
}

.portal-slogan .bias-data-btn{
    width: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    align-items: center;

}

.bias-data-btn .bias-button{
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to right, rgb(73, 110, 223), rgb(24, 190, 159));
    cursor: pointer;
}

.bias-data-btn .bias-button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.bias-data-btn .bias-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.bias-data-btn .bias-button:hover span {
    padding-right: 25px;
}

.bias-data-btn .bias-button:hover span::after{
    opacity: 1;
    right: 0;
}

.bias-data-btn .data-button{
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to right,  rgb(24, 190, 159), rgb(73, 110, 223));
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
}



.bias-data-btn .data-button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.bias-data-btn .data-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.bias-data-btn .data-button:hover span {
    padding-right: 25px;
}

.bias-data-btn .data-button:hover span::after{
    opacity: 1;
    right: 0;
}