.experience-plan-intro{
    width: 100%;
    min-width: 810px;
    height: 10%;
    margin: 25% auto;
    padding-bottom: 100px;
}

.experience-plan-intro-title{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: Microsoft YaHei;
    letter-spacing: -.5px;
    cursor: default;
    line-height: 0.8rem;
}

.experience-plan-intro-subtitle{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: Optima, sans-serif;
    letter-spacing: -.5px;
    cursor: default;
    line-height: 0.8rem;
}


.experience-plan-end{
    width: 100%;
    min-width: 810px;
    height: 10%;
    margin: 10% auto;
    padding-bottom: 100px;
    background-color: white;
    text-align: center;
}

.experience-plan-end p{
    text-align: center;
    font-family: Microsoft YaHei;
    line-height: 0.8rem;
    cursor: default;
}