.main-content{

    margin-top: 250px;
    margin-left: 10%;
    display: block;
    width: 100%;
    min-width: 500px;
    top: 250px;
    left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    z-index: 0;
    margin-bottom: 30px;
}

