.communicate-container{
    width: 100%;
    background-color: #2A5E4D;
}

.communicate-content{
    margin: 260px auto;
    width: 1200px;
    margin-bottom: 0;
    height: 440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.communicate-content .communicate-left{
    width: 420px;
    margin: 30px 16%;
    color: white;
}

.button-set .comm-btnL{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px; 
    cursor: default;
    font-family: Microsoft YaHei;
    font-weight: 300;
    border: 1px solid black;

}

.button-set .comm-btnR{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px; 
    font-family: Microsoft YaHei;
    font-weight: 300;
    cursor: default;
    background-color: #2A5E4D;
    border: 1px solid white;
    color: white;
}

.communicate-content .communicate-right{
    margin: -50px 70px;
}

.communicate-content .communicate-right img{
    width: 420px;
}

