.image-gallery-description {
    padding: 10px 0;
    color: white;
    font-size: 25px;
    font-weight: bold;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    line-height: 1;
    text-align: center;
    position: absolute;
    white-space: normal;
    align-items: center;
    z-index: 90;
    transition: all 0.5s ease;
}

.image-gallery-image{
    width: 100%;
    z-index: 80;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
    position: absolute;
    margin-top: -20%;
    height: 10px;
    z-index: 90;
    background-color: transparent;
    border: none;
}

.image-gallery-left-nav i, 
.image-gallery-right-nav i{
    transition: all ease 0.5s;
    color: #fff;
}

.image-gallery-left-nav:hover i,
.image-gallery-right-nav:hover i{
    color: #4678B2;
}