.research-container{
    width: 100%;
    background-color: rgb(53, 57, 83);
}

.research-content{
    margin: 260px auto;
    width: 1200px;
    margin-bottom: 0;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.research-content .research-left{
    width: 420px;
    margin: 30px 16%;
    color: white;
}

#title{
    font-size: x-large;
}
.button-set .research-btnL{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px; 
    cursor: default;
    border: 1px solid black;
}

.button-set .research-btnR{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px; 
    cursor: default;
    background-color: rgb(53, 57, 83);
    border: 1px solid white;
    color: white;
}

.research-content .research-right{
    margin: -80px 50px;
}

.research-content .research-right img{
    width: 320px;
}

.research-container .research-subtitle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 60px auto;
    width: 85%;
}

.research-subtitle .subtitle-col{
    margin: 20px 20px;
    width: 220px;
    color: white;
}

.research-subtitle .subtitle-col img{
    width: 50px;
}

.research-subtitle .subtitle-col p{
    width: 200px;
    cursor: default;
}