.security-intro-container{
    margin-top: 60px;
    width: 100%;
    height: 300px;
    padding-top: 300px;
    background-color: rgb(10, 61, 77);
}

.security-intro-content{
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.security-intro-content .security-left{
    width: 420px;
    margin: 0 16%;
    color: white;
}

.button-set .security-btnL{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px; 
    cursor: default;
    border: 1px solid black;
}

.security-intro-content .security-right{
    margin: -120px 50px;
}

.security-intro-content .security-right img{
    width: 320px;
}