.bias-list-component{
    width: 100%;
    height: 140px;
    background-color: white;
}





.bias-list-component .bias-banner-container{
    height: 100px;
    width: 100%;
    background-color: white;
    justify-content: center;
    line-height: 100px;
}

.bias-banner-container a img{
    margin-left: 60px;
    width: 350px;
    text-decoration: none;
    font-size: xx-large;
    color: black;
    line-height: normal;
    display: inline-block;
    vertical-align: middle; 
}


.bias-list-component .banner-content-container{
    min-width: 500px;
    height: 40px;
    display: grid;
    grid-template-columns: 85% 15%;
    border-bottom: 1px solid rgb(217, 217, 217);
}

ul#bias-ul{ 
    line-height: 10px;
    list-style: none;
    }
    ul#bias-ul li{
        display: inline;
        margin-left: 20px;
        font-family: Microsoft YaHei;
        font-weight: 300;
}

ul#bias-ul li a{
    color: black;
    font-family:"Microsoft Yahei";
    text-decoration: none;
    font-weight: 300;
    font-size: x-small;
}

ul#bias-ul li:hover a{
    text-decoration: underline;
}

.bias-content .bias-banner-right-btn-set{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.bias-banner-right-btn-set .portal-link{
    width: 100px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Optima, sans-serif;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: -.5px;
    box-shadow: 0 0 5px #3975EA;
    padding: 5px 15px;
    border-radius: 3px;
    background-image: url("../../content-img/gridient-background.png");
    background-size: 100%;
    transition: all .5s ease;
}

.bias-banner-right-btn-set .portal-link:hover{
    box-shadow: none;
}

.log-out-btn{
    width: 100px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Microsoft YaHei;
    font-weight: 300;
    font-size: 12px;
    box-shadow: 0 0 5px #3975EA;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
    background-image: url("../../content-img/reverse-gridient-bckground.png");
    background-size: 100%;
    transition: all .5s ease;
    
}
.log-out-btn:hover{
    box-shadow: none;
}

.log-out-btn:hover{
    background-color: rgb(73, 67, 108);
}