.research-content .research-ctn-left{
    margin: -70px 180px;
}

.research-content .research-ctn-left img{
    width: 320px;
}

.research-content .research-ctn-right{
    width: 420px;
    margin: 30px -50px;
    color: white;
}