.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #11101d;
    height: 100%;
    width: 78px;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 99;
}


.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar .logo_content .logo i{
    font-size: 28px;
    margin-right: 10px;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color:#fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar .nav_list{
    margin-top: 10px;
    padding-left: 10px;
    z-index: 99;
}

.sidebar .nav_list li{
    position:relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    z-index: 99;
}

.sidebar .nav_list li input{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 12px; 
    outline: none;
    border: none;
    background-color: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar .nav_list li .search{
    position: absolute;
    color: #fff;
    z-index: 99;
    font-size: 22px;
}

.sidebar .nav_list li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    z-index: 99;
}

.sidebar .links_name{
    opacity: 0;

    pointer-events: none;
}

.sidebar.active .links_name{
    opacity: 1;

    pointer-events: auto;
}

.sidebar.active .nav_list li .tooltip{
    display: none;
    
}

.sidebar .nav_list li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar .nav_list li a:hover{
    color:#11101d;
    background-color: #fff;
}

.sidebar .nav_list li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar .nav_list li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}




