.communicate-text{
    font-size: x-large;
    font-family: Microsoft YaHei;
    font-weight: 400;
    width: 420px;
}

.communicate-list{
    margin-left: -20px;
}

.communicate-list li{
    width: 400px;
}

.grid-container .communicate-img{
    width: 40%;
}

.grid-container .communicate-img img{
    margin-top: 120px;
    width: 450px;
}

#communicate-img1{
    margin-left: 120px;
}

.communicate-subtitle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 60px auto;
    width: 85%;
}

.communicate-subtitle .subtitle-col{
    margin: 20px 20px;
    width: 220px;
}

.communicate-subtitle .subtitle-col img{
    width: 50px;
}



#check{
    width: 40px;
    margin-bottom: 6px;
    
}
