.menu{
    width: 100%;
    background-color: #ADACD9;
    height: 35px;
    position: fixed;
    top: 168px;
    left: 0;
    z-index: 99;
}

.menu list{
    margin-left: 100px;
}

.menu_list li{
    padding: 8px 10px;
    font-size: medium;
    text-decoration: none;
    color: white;
    display: inline;
    cursor: pointer;
}

/* .menu_list li:hover{
    background-color: #898FC4;
} */