.portal-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 104px;
    z-index: 10;
    background-color: white;
}

.bold-text{
    font-weight: bolder;
}

.banner_list{
    /* top: 60px; */
    /* padding-top: 5px; */
    display: grid;
    grid-template-columns: 80px 800px 8%;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 96%;
    border-bottom: 1px solid #D9D9D9;
    z-index: 10;
    background-color: white;
}

.banner_list a{
    text-decoration: none;
    color: black;
}

.banner_list .onion-icon{
    width: 52px;
    height: 60px;
    margin-left: 50px;
    margin-top: 15px;
    z-index: 10;
    cursor: pointer;
    display: grid;
    grid-template-columns: 70% 30%;
}

.banner_list .onion-icon img{
    height: 53px;
    opacity: 5;
}

.banner_list .onion-icon p{
    margin: 40px 5px;
    font-family: Optima, sans-serif;
    font-weight: lighter;
    letter-spacing: -.5px;
}


.banner_list .right-content{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    right: 80px;
    top: 61px;
    width: 270px;
    padding: 5px 20px;
    z-index: 5;
    transition: all .5s ease;
}

@media (max-width: 1150px) {
    .banner_list .right-content {
        display: none;
    }
}

 .right-content .login-btn{
    border: none;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 7px;
    font-size: small;
    color: black;
    width: 240px;
    cursor: pointer;
 }



.right-content .login-btn i{
    text-align: center;
    font-size: 10px;
}


.right-content .login-btn .bias-link{
    margin: 0 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Optima, sans-serif;
    font-weight: lighter;
    letter-spacing: -.5px;
    height: 24px;
    padding-top: 7px;
    border-radius: 5px;
    box-shadow: 0 0 5px #3975EA;
    background-image: url("../../content-img/gridient-background.png");
    background-size: 100%;
    transition: all .5s ease;
}

.right-content .login-btn .bias-link:hover{
    box-shadow: none;
}

.right-content .login-btn .data-link{
    margin: 0 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Optima, sans-serif;
    font-weight: lighter;
    letter-spacing: -.5px;
    padding-top: 7px;
    height: 24px;
    border-radius: 5px;
    box-shadow: 0 0 5px #3975EA;
    background-image: url("../../content-img/reverse-gridient-bckground.png");
    background-size: 100%;
    transition: all .5s ease;
}

.right-content .login-btn .data-link:hover{
    box-shadow: none;
}


.banner_list .right-content .contact-btn{
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: small;
    color: black;
    width: 53px;
    height: 20px;
    padding: 3px 10px;
    margin-top: 5px;
    cursor: pointer;
}

.banner_list .right-content .contact-btn:hover{
    background-color: rgb(240, 240, 240);
}

/* .banner_list .right-content:hover{
    background-color: rgb(240, 240, 240);
}

.banner_list .right-content a{
    font-size: x-small;
    color: black;
    text-decoration: none;
} */


ul#horizontal-list{
    min-width: 696px;
    margin-top: 75px;
    list-style: none;

}
ul#horizontal-list li{
    display: inline;
    margin-left: 20px;
    position: relative;  /* Add this line */
}

ul#horizontal-list li a{
    color: rgb(150, 150, 150);
    font-family: Microsoft Yahei;
    text-decoration: none;
    font-size: x-small;
}

ul#horizontal-list #planButton{
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 8px;
}

ul#horizontal-list #planButton .plan-btn-text{
    color: rgb(150, 150, 150);
    font-family: Microsoft Yahei;
    text-decoration: none;
    font-size: x-small;
}

ul#horizontal-list li:hover a{
    text-decoration: underline;
}

ul#horizontal-list li:hover .dropdownOption a {
    text-decoration: none;
}

ul#horizontal-list li .dropdownOption a:hover {
    text-decoration: underline;
}



ul#horizontal-list #planButton:hover{
    background-color: #f1f1f1;
}

ul#horizontal-list #planButton:hover a{
    text-decoration: none;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.arrow-down {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent rgb(150, 150, 150) transparent;
    transition: transform 1s ease;
}

.arrow-up {
    border-width: 5px 5px 0 5px;
    border-color: rgb(150, 150, 150) transparent transparent transparent;
    transition: transform 1s ease;
}

.dropdown-div {
    position: absolute;
    top: 105%;
    left: -95px; 
    max-height: 0;
    height: 90px;
    overflow: hidden;
    width: 230px;
    transition: all 0.3s ease-in-out;
    background-color: white;
    box-shadow:  -5px 0 5px rgba(120, 120, 120, 0.1), 5px 3px 5px rgba(120, 120, 120, 0.1);
    border-radius: 2px;
    padding: 0 20px;
    
}

.dropdown-div.open {
  max-height: 120px; 
  padding: 20px;
}

.dropdown-div .dropdownOption{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 2px;
    text-align: center;
}

.dropdown-div .dropdownOption:hover{
    background-color: #E6EBFD;
}

.dropdownOption span{
    color: rgb(150, 150, 150);
    font-family: Microsoft Yahei;
    text-decoration: none;
    font-size: x-small;
    width: 180px;
}