.error-page{

    width: 100%;
    font-family: 'Microsoft yahei';
    
}
.message-container{
    margin: 200px 
}

.message-container .message-content{
    margin: 0 auto;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.message-container .message-content .right-content{
    margin-left: -200px;
}


