.header-space{
    width: 100%;
    min-width: 810px;
    height: 10%;
    margin: 12% auto;
}

.cataly-plan-intro{
    width: 100%;
    min-width: 810px;
    height: 10%;
    margin: 25% auto;
    padding-bottom: 100px;
}

.cataly-plan-intro  p{
    text-align: center;
    font-family: Microsoft YaHei;
    line-height: 0.8rem;
    cursor: default;
}

.cataly-plan-intro-title{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: Microsoft YaHei;
    letter-spacing: -.5px;
    cursor: default;
}

.cataly-plan-intro-subtitle{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: Optima, sans-serif;
    letter-spacing: -.5px;
    cursor: default;
}

.cataly-plan-section-title{
    width: 1000px;
    margin: 0 auto;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 3% 97%;
    cursor: default;
}

.gradient-border{
    margin: 20px 0;
    height: 50px;
    width: 10px;
    background-image: linear-gradient(to bottom, rgb(73, 110, 223), rgb(24, 190, 159));
    border-radius: inherit;
}

.cataly-plan-section-text{
    font-size: 26px;
    color: #7F7F7F;
}

.cataly-plan-grid{
    padding-bottom: 100px;
}

.cataly-plan-container{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.cataly-plan-container img{
    width: 1000px;
    margin: 0 auto;
}

.cataly-plan-block1{
    width: 1000px;
    margin:  0 auto;
    padding-bottom: 20px;
}
.cataly-plan-schedule-img-title{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.cataly-plan-schedule-img-title img{
    width: 120px;
    margin-bottom: -20px;
}

.cataly-plan-schedule-table{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-gap: 60px;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.cataly-plan-schedule-table .cataly-plan-schedule-col{
    margin-left: -60px;
    padding: 20px;
}

.cataly-plan-schedule-col-title{
    text-align: center;
    height: 30px;
}

.cataly-plan-schedule-table .cataly-plan-schedule-col:nth-child(1) .cataly-plan-schedule-col-title {
    /* Your CSS rules here */
    border-bottom: 5px solid #5C6DD2;
}

.cataly-plan-schedule-table .cataly-plan-schedule-col:nth-child(2) .cataly-plan-schedule-col-title {
    /* Your CSS rules here */
    border-bottom: 5px solid #71D6B7;
}

.cataly-plan-schedule-table .cataly-plan-schedule-col:nth-child(3) .cataly-plan-schedule-col-title {
    /* Your CSS rules here */
    border-bottom: 5px solid #9FA5BC;
}

.cataly-plan-schedule-table .cataly-plan-schedule-col:nth-child(2) .cataly-plan-schedule-col-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 50px;
    margin-left: -50px;
}

.cataly-plan-schedule-col-content-left ul li{
    margin-left: -20px;
    width: 250px;
}

.cataly-plan-schedule-col-content-right ul li{
    margin-left: -20px;
    width: 250px;
    margin-top: -8px;
}
.cataly-plan-schedule-col-content-right{
    margin-top: 30px;
}

.cataly-center-text{
    text-align: center;
}

.main-cataly-plan-container{
    width: 1000px;
    margin: 150px auto;
    padding-bottom: 60px;
}

.main-cataly-plan-container img{
    width: 1000px;
    margin: 0 auto;
}

.cataly-plan-end{
    width: 100%;
    min-width: 810px;
    height: 10%;
    margin: 10% auto;
    padding-bottom: 100px;
}

.cataly-plan-end  p{
    text-align: center;
    font-family: Microsoft YaHei;
    line-height: 0.8rem;
    cursor: default;
}