.intro-container{
    width: 102%;
    margin-left: -8px;
    background-color: rgb(54, 89, 181);
}
.intro-content{
    margin: 12% auto;
    width: 1200px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.intro-content .intro-left{
    width: 400px;
    
    margin: auto 120px;
}

.intro-content .intro-left p{
    cursor: default; 
    color: white;
}

.intro-content .intro-right{
    margin: auto 0;
    width: 60%;
}

@media (max-width: 815px) {
    .intro-content .intro-right {
        display: none;
    }

}
.intro-content .intro-right img{
    width: 400px;
    margin: 0 auto;
}

