.slogan{
    width: 50%;
    min-width: 810px;
    height: 10%;
    margin: 20% auto;
}

.slogan .slogan-title{
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    font-family: Optima, sans-serif;
    letter-spacing: -.5px;
    cursor: default;
}


.slogan p{
    text-align: center;
    font-family: Microsoft YaHei;
    font-weight: 300;
    line-height: 0.8rem;
    cursor: default;
}

.slogan .onion-btn{
    width: 150px;
    margin: 30px auto;
    align-items: center;
    opacity: 90;
}

.slogan .onion-btn a{
    box-shadow: 0 0 2px rgb(13, 128, 101);
    background-color: rgb(13, 128, 101);
    height: 40px;
    color: white;
    border: 0px;
    font-family: Optima, sans-serif;
    letter-spacing: -.5px;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.slogan .onion-btn .button:hover{
    box-shadow: none;
    background-color: rgb(47, 105, 85);
}
