.demo-space{
    height: 200px;
}

.demo-subtitle{
    width: 350px;
    font-size: x-large;
    font-family: Microsoft YaHei;
    font-weight: 400;
}

.demo-text{
    width: 400px;
    font-family: Microsoft YaHei;
    font-weight: 300;
    font-size: 14px;
}

.double-demo-text{
    width: 400;
    margin-left: 50px;
}

.demo-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    width: 900px;
    margin: 100px auto;
}

.vertical-container{
    display: grid;
    grid-template-rows: 80% 20%;
    width: 900px;
    margin: 50px auto;
}

.vertical-container .grid-img img{
    width: 900px;
}

.vertical-container .demo-content{
    width: 280px;
    margin: -100px 480px;
    cursor: default;
    height: 300px;
}

.vertical-container .vertical-content{
    width: 320px;
    margin: -60px 60px;
    cursor: default;
    height: 300px;
}

.demo-container .demo-content{
    width: 320px;
    margin: auto 0;
    cursor: default;
}
.demo-container .grid-video{
    margin-left: 50px;
}

.demo-container .grid-video video{
    width: 500px;
    border-radius: 5px;
    box-shadow:  -10px -10px 16px rgba(100, 100, 100, 0.1), 20px 20px 32px rgba(50, 50, 50, 0.5);
}

.demo-container .grid-img img{
    width: 450px;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow:  -10px -10px 16px rgba(100, 100, 100, 0.1), 20px 20px 32px rgba(50, 50, 50, 0.5);
}

.demo-container .grid-img4{
    margin-right: 20px;
}

.demo-container .grid-img4 video{
    width: 550px;
    border-radius: 5px;

    box-shadow:  -10px -10px 16px rgba(100, 100, 100, 0.1), 20px 20px 32px rgba(50, 50, 50, 0.5);
}

.demo-container .demo-large-img img{
    width: 650px;
}


.demo-container .demo-img img{
    width: 450px;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow:  -10px -10px 16px rgba(100, 100, 100, 0.1), 20px 20px 32px rgba(50, 50, 50, 0.5);
}

.demo-sticker-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    margin: 150px auto;
}

.demo-sticker-container .demo-content{
    margin-top: 120px;
    cursor: default;
}

.demo-sticker-container .demo-content p{
    margin-left: 10px;
}

.demo-sticker-container .demo-sticker img{
    width: 600px;
}

.demo-content .data-button{
    border: none;
    width: 200px;
    height: 36px;
    align-items: center;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 5px #3975EA;
    background-image: url("../../content-img/reverse-gridient-bckground.png");
    background-size: 100%;
    font-family: Optima, sans-serif;
    letter-spacing: -.5px;
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
}

.demo-content .data-button a{
    color: white;
}

.demo-content .data-button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.demo-content .data-button span:after {
    content: '\00bb';
    position: absolute;
    font-size: 30px;
    opacity: 0;
    top: -12px;
    right: -24px;
    transition: 0.5s;
}

.demo-content .data-button:hover span{
    padding-right: 25px;
}

.demo-content .data-button:hover span::after{
    opacity: 1;
    right: -10px;
}

.demo-play{
    font-size: 30px;
    height: 30px;
    margin-left: 40px;
    color:rgb(130, 130, 130);
}
