::-webkit-scrollbar {
    display: none;
}


.main-content{
    position: absolute;
    height: 80%;
    top: 28%;
    padding-bottom: 50px;
    width: 900px;
    left: calc(40% - 240px);
    transition: all 0.5s ease;
    z-index: 0;
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 20px;
}

.sidebar.active ~ .main-content{
    width: 900px;
    left: calc(35% - 100px);
}

@media (max-width: 768px) {
    .adv {
        display: none;
    }

    .main-content {
        top: 30px;
    }
}

@media (max-height: 768px) {
    .adv {
        display: none;
    }

    .main-content {
        top: 30px;
    }
}

.adv{
    background-image: linear-gradient(90deg, #7CBEA2, #6DA5C8);
    padding-top: 7px;
    position: absolute;
    top: 20px;
    width: calc(100% - 300px);
    height: 20%;
    left: 185px;
    transition: all 0.5s ease;
    overflow: hidden;
    z-index: 90;
    border-radius: 10px;
    
}

.sidebar.active ~ .adv{
    width: calc(100% - 340px);
    left: 310px;  
}




