.education-container{
    width: 100%;
    background-color: rgb(230, 206, 177);
}

.education-content{
    margin: 260px auto;
    width: 1200px;
    margin-bottom: 0;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.education-content .education-left{
    width: 450px;
    margin: 30px 16%;
    color: black;
}

.education-content .education-right{
    margin: -70px 70px;
}

.education-content .education-right img{
    width: 260px;
}


#title{
    font-size: x-large;
}

.button-set .education-btnL{
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px 10px; 
    cursor: default;
    border: 1px solid black;

}

.button-set .education-btnR{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px; 
    cursor: default;
    background-color: rgb(230, 206, 177);
    border: 1px solid black;
    color: black;
}

.education-container .education-subtitle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 60px auto;
    width: 85%;
}

.education-subtitle .subtitle-col{
    margin: 50px 20px;
    width: 220px;
}