.security-intro-container{
    margin-top: 200px;
    width: 100%;
    height: 480px;
    padding-top: 50px;
    background-color: #F9FAFF;
}

.security-intro-content{
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    cursor: default;
}

.security-intro-content .security-left{
    margin: auto 100px;
}

.security-intro-content .security-left img{
    width: 400px;
}

.security-intro-content .security-right{
    width: 420px;
    height: 450px;
    margin: auto -20px;
}

.button-set{
    margin-top: 30px;
}

.button-set .security-btnL{
    background-color: #224250;
    border-radius: 5px;
    padding: 5px 10px; 
    color: white;
    cursor: default;
    border: 1px solid black;
    width: 150px;
}

.button-set .security-btnR{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px; 
    cursor: default;
    border: 1px solid black;
    width: 150px;
}
