.introduction{
    width: 102%;
    margin-left: -8px;
}

.portal-page{
    padding: 0;
    width: 100%;
}

#copy-right{
    font-size: 8px;;
    vertical-align: super;
}

.bolder{
    font-weight: 600;
    
}

.dot{
    font-weight: 800;
    margin-left: 3px;
    margin-right: 3px;
}

#wider{
    width: 350px;
}

#move-up {
    margin-top: -80px;
}

.big-pic{
    width: 600px;
}

.green-text{
    color: rgb(65, 217, 181);
}

.p-en{
    font-family: Optima, sans-serif;
    letter-spacing: -.5px;
}

.intro-title{
    font-family: Microsoft YaHei;
    font-weight: 400;
    font-size: 30px;
    width: 500px;
    cursor: default;
}

.portal-text{
    font-family: Microsoft YaHei;
    font-weight: 300;
    cursor: default;
    font-size: 14px;
}

.portal-content{
    width: 400px;
}

.portal-subtitle{
    font-weight: 400;
    font-size: 24px;
    font-family: Microsoft YaHei;
    cursor: default;
}

.double-space{
    margin-left: 50px;
    width: max-content;
}

.tab-space{
    margin-left: 100px;
}

.main-container{
    position: fixed;
    bottom: 0;
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    width: 900px;
    margin: 6% auto;
}


.grid-container .grid-content{
    width: max-content;
    margin: auto 0;
    cursor: default;
}

.grid-container .grid-img{
    width: 450px; 
}

.grid-container .grid-img img{
    width: 450px;
}


