.bias-login-container{

    width: 560px;
    margin: 20% auto;
    padding: 20px 10px;
    background-color: white;
    box-shadow: -4px -4px 15px rgba(127, 127, 127, 0.1), 4px 4px 15px rgba(127, 127, 127, 0.1);
    align-items: center;
    border-radius: 10px;
}

.bias-login-container .login-subtitle-container{
    width: 245px;
    margin: 0 auto;
}
.bias-login-container .login-subtitle-container p{
    margin-bottom: 60px;
}

.bias-login-container .login-input-container{
    width: 300px;
    margin: 0 auto;
}

.bias-login-container .usr-login-btn-container{
    width: 100px;
    margin: 0 auto;
}

.bias-login-container  .bias-usr-login-btn{
    background-color: rgb(13, 128, 101);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: Microsoft Yahei;
    font-weight: 300;
    padding: 5px 20px;
    cursor: pointer;
    margin-bottom: 15px;
}


.bias-login-container .bias-usr-login-btn:hover{
    
    background-color: rgb(47, 105, 85);
}