.plan-block1{
    width: 800px;
    margin:  80px auto;
    padding-top: 100px;
}

.plan-container{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.plan-container img{
    width: 1000px;
    margin: 0 auto;
}

.light-text{
    font-weight: 300;
}