.plan-grid{
    margin-top: 280px;
}

.plan-block1{
    width: 1000px;
    margin:  80px auto;
    padding-top: 20px;
}


.plan-container{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.plan-container img{
    width: 1000px;
    margin: 0 auto;
}

.main-plan-container{
    width: 1000px;
    margin: 350px auto;
    padding-bottom: 60px;
}

.main-plan-container img{
    width: 1000px;
    margin: 0 auto;
}



.plan-text{
    font-family: Microsoft YaHei;
    font-weight: 600;
    font-size: 24px;
    width: 500px;
    cursor: default;
}
.light-text{
    font-weight: 300;
}

