.bias-list-component{
    width: 100%;
    height: 140px;
    background-color: white;
}

.bias-list-component .bias-banner-container{
    height: 100px;
    width: 100%;
    background-color: white;
    justify-content: center;
    line-height: 100px;
}

.bias-banner-container a{
    margin-left: 80px;
    text-decoration: none;
    font-size: xx-large;
    color: black;
    line-height: normal;
    display: inline-block;
    vertical-align: middle; 
}

.bias-banner-border{
    margin-left: 90px;
    margin-top: -30px;
    height: 5px;
    width: 205px;
    background-image: url("../../content-img/gridient-background.png");
    background-size: 100%;
}

.bias-list-component .banner-content-container{
    min-width: 500px;
    height: 40px;
    display: grid;
    grid-template-columns: 90% 10%;
    border-bottom: 1px solid rgb(217, 217, 217);
}

ul#bias-ul{ 
    line-height: 10px;
    list-style: none;
    }
    ul#bias-ul li{
        display: inline;
        margin-left: 20px;
        font-family: Microsoft YaHei;
        font-weight: 300;
}

ul#bias-ul li a{
    color: black;
    font-family:"Microsoft Yahei";
    text-decoration: none;
    font-weight: 300;
    font-size: x-small;
}

ul#bias-ul li:hover a{
    text-decoration: underline;
}

.bias-content .bias-banner-right-btn-set{
    display: grid;
    grid-template-columns: 1fr 1fr;
}